---
//Singleview
//@ts-nocheck (Besked fra Dannie: Ville fjerne fejlmelding længere ned i koderne...)

import MainLayout from "../../layout/MainLayout.astro";
import Header from "../../layout/Header.astro";
import GoBackArrow from "../../components/GoBackArrow.astro";
import Footer from "../../layout/Footer.astro";
import ScrollToTop from "../../components/ScrollToTop.astro";

export async function getStaticPaths() {
  const url = "https://xnuptxxrxfdladlzrict.supabase.co/rest/v1/Kunstnere";
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhudXB0eHhyeGZkbGFkbHpyaWN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzQ1NjAsImV4cCI6MjA0NDIxMDU2MH0.RGy9b8YR0QZ5kbRBGPOLnBDCk0uhTzlYqKZgTkuw6HQ",
    },
  };

  const artists = await fetch(url, options).then((res) => res.json());

  return artists.map((artist) => ({
    params: { navn: artist.slug }, // [artist]=artist.slug
    props: { artist }, // send al data med som props
  }));
}

const { artist } = Astro.props;
console.log(artist); // artist.name, artist.image osv.
---

<MainLayout>
  <Header />
  <GoBackArrow />
  <div class="full-page-image">
    <img
      src={`/imgs/kunstner-img/${artist.image}`}
      alt={artist.name}
      class="background-image"
    />
    <h1 class="hero_title">{artist.name}</h1>
  </div>

  <h3>{artist.date} {artist.time}</h3>
  <h3>AT: {artist.location}</h3>
  <p>{artist.description}</p>
  <section class="artist-bottom">
    <div class="artist-spotify">
      <div>
        <img
          src={`/imgs/kunstner-img/${artist.image}`}
          alt={artist.name}
          class="artist-album"
        />
      </div>

      <div>
        <a href={artist.spotifylink} target="_blank" rel="noopener noreferrer">
          <img
            src="../svg/spotifyBTN.png"
            alt="spotify button"
            class="spotifyBTN"
          />
        </a>
      </div>
    </div>
    <div class="dummy-container">
      <img src="../svg/spotifydummy.svg" class="dummy" alt="spotify songs" />
    </div>
  </section>
  <ScrollToTop />
  <Footer />
</MainLayout>

<style>
  @font-face {
    font-family: "jhc_audemarsmedium";
    src:
      url("/public/fonts/audemars/jhcaudemars-medium-webfont.woff2")
        format("woff2"),
      url("/public/fonts/audemars/jhcaudemars-medium-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "bacilus_grotesqueregular";
    src:
      url("/public/fonts/bacilus/bacilusgrotesque-regular-webfont.woff2")
        format("woff2"),
      url("/public/fonts/bacilus/bacilusgrotesque-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  h1,
  h3,
  p {
    padding: 1rem;
    margin: 1.5rem;
  }
  h3,
  p {
    color: var(--quaternary);
    max-width: 65ch;
  }
  h1,
  h3 {
    font-display: capitalize;
  }
  .dummy-container {
    display: flex;
    justify-content: center;
  }
  .dummy {
    max-width: 65vw;
    padding: 40px;
  }
  .hero_title {
    position: relative;
    top: 500px;
    left: 40px;
  }
  .full-page-image {
    position: relative;
    height: 800px;
    overflow: hidden;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* You can adjust this to crop the image differently, e.g., 'top' or 'bottom' */
    z-index: -1; /* Keeps it behind the header, logo, and burger menu */
  }

  .artist-album {
    width: 300px;
    height: 300px;
    margin: 3em;
    margin-bottom: 0;
  }

  .artist-bottom {
    display: flex;
    flex-direction: row;
  }

  .artist-spotify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spotifyBTN {
      width: 200px;
    }
    .dummy-container {
      display: flex;
      justify-content: flex-end;
    }
    .dummy {
      max-width: 50vw;
      padding-right: 30px;
    }
  }
  @media (max-width: 850px) {
    .artist-bottom {
      display: flex;
      flex-direction: column;
    }
  }
</style>
