---
const {artist} = Astro.props;
---
<!--Katinka Artister til artistlisten/listview -->

<li id="artist_list">
    <a href={`/artists/${artist.slug}`}>
    <h3>{artist.name}</h3>
    <img src={`/imgs/kunstner-img/${artist.image}`}
  alt={artist.name} />
    </a>
</li>

<style>
li {
    margin-bottom: 2rem;
    margin-left: 8rem;
    list-style: none;
    }
h3 {
    color: white;
    font-size: 32px;
    text-decoration: none;
    font-display: capitalize;
    }

    a {
  position: relative; 
text-decoration: none;
z-index: 100;
}

a img { 
  display: block;
  position: absolute; 
  top: 0;
  left: 100%; 
  margin-left: 300px; /*juster ift hvor billede er*/
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
  z-index: -1; 
  max-width: 800px;
  height: auto;
}

a:hover img { 
  opacity: 1; 
}
    

@media (max-width: 800px) {
#artist_list {
    text-align: center;
    margin-left: 0rem;
    
    }
    a:hover img { 
    display: none;
}

a img {
  display:none;
}
}
</style>